<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hand_Magic.Properties.Settings.Menu_OrderingConnectionString"
            connectionString="Data Source=DESKTOP-KKK6R4L\SQLEXPRESS;Initial Catalog=Menu_Ordering;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>